[project]
	description = Angularjs Read More,Less Directive - without jQuery dependency 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hitesh Modha (hiteshmodha)
[access "refs/for/refs/*"]
	read = group user/Hitesh Modha (hiteshmodha)
	push = group user/Hitesh Modha (hiteshmodha)
	label-Code-Review = -2..+2 group user/Hitesh Modha (hiteshmodha)
	label-Verified = -1..+1 group user/Hitesh Modha (hiteshmodha)
	rebase = group user/Hitesh Modha (hiteshmodha)
	removeReviewer = group user/Hitesh Modha (hiteshmodha)
	submit = group user/Hitesh Modha (hiteshmodha)
[access "refs/heads/*"]
	read = group user/Hitesh Modha (hiteshmodha)
	create = group user/Hitesh Modha (hiteshmodha)
	push = +force group user/Hitesh Modha (hiteshmodha)
	pushMerge = group user/Hitesh Modha (hiteshmodha)
[access "refs/tags/*"]
	push = +force group user/Hitesh Modha (hiteshmodha)
	pushTag = group user/Hitesh Modha (hiteshmodha)
	pushSignedTag = group user/Hitesh Modha (hiteshmodha)
